-- init_postgres/01-passwords.sql.template
-- This file is rendered at container startup using env vars.

ALTER ROLE "yam-indexing-writer"      WITH PASSWORD '${POSTGRES_WRITER_USER_PASSWORD}';
ALTER ROLE "yam-indexing-reader"      WITH PASSWORD '${POSTGRES_READER_USER_PASSWORD}';
ALTER ROLE "yam-indexing-event_queue" WITH PASSWORD '${POSTGRES_EVENT_QUEUE_USER_PASSWORD}';